<div class="kzf-mod-link-container">
    <div class="rowFluid">
        <div class="container">
            <div class="span12">
                <div class="kzf-mod-link-out">
                    <div class="kzf-mod-so-title-box wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                        <h3 class="kzf-so-title">
                            联系我们</h3>
                        <div class="kzf-so-text">
                            一切良好工作的开始，都需相互之间的沟通搭桥，欢迎咨询。</div>
                    </div>
                    <div class="rowFluid">
                        <div class="kzf-mod-link-inf-box">
                            <div class="span3 col-sm-6 col-xs-12">
                                <a href="tel:{site.tel}">
                                    <div class="kzf-mod-wrap wow fadeInLeft">
                                        <div class="kzf-mod-pic">
                                            <img src="<%templateskin%>/picture/so-iphone.png" alt="联系电话" />
                                        </div>
                                        <div class="kzf-mod-txt">
                                            <p>
                                                {site.tel}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="span3 col-sm-6 col-xs-12">
                                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3133119519" target="_blank">
                                    <div class="kzf-mod-wrap wow fadeInRight">
                                        <div class="kzf-mod-pic">
                                            <img src="<%templateskin%>/picture/so-qq.png" alt="联系QQ" />
                                        </div>
                                        <div class="kzf-mod-txt">
                                            <p>3133119519</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="span3 col-sm-6 col-xs-12">
                                <a href="{site.email}">
                                    <div class="kzf-mod-wrap wow fadeInLeft">
                                        <div class="kzf-mod-pic">
                                            <img src="<%templateskin%>/picture/so-mail.png" alt="联系邮箱" />
                                        </div>
                                        <div class="kzf-mod-txt">
                                            <p>
                                                {site.email}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="span3 col-sm-6 col-xs-12">
                                <a href="#">
                                    <div class="kzf-mod-wrap wow fadeInRight">
                                        <div class="kzf-mod-pic">
                                            <img src="<%templateskin%>/picture/so-location.png" alt="联系地址" />
                                        </div>
                                        <div class="kzf-mod-txt">
                                            <p>
                                                {site.address}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="rowFluid">
        <div class="span12">
            <div class="copyright">
                {site.copyright}
            </div>
        </div>
    </div>
</div>
