<div id="header" class="content-block">
                <header id="site-header" class="clearfix">
                    <div class="pull-left">
                        <h1><a href="http://www.kinfar.net">KINFAR.NET</a></h1>
                    </div>
                    <div class="pull-right">
                        <nav class="navbar site-nav" role="navigation">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <i class="glyphicon glyphicon-list"  style="font-size:18px;"></i>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
				    <li><a href="http://www.kinfar.net"><i class="glyphicon glyphicon-home"></i> 官网</a></li>
                                    <li><a href="http://help.kinfar.net"><i class="glyphicon glyphicon-question-sign"></i> 文档 </a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> 访客</a></li>
                                </ul>
                            </div>  <!-- /.navbar-collapse -->
                        </nav>
                    </div>
                </header>	<!-- site-header -->
        </div>		
		
		
<script type="text/javascript">
/*
			$.ajax({
				type: "POST",
				url: "{config.webpath}tools/submit_ajax.ashx?action=user_check_login",
				dataType: "json",
				timeout: 20000,
				success: function (data, textStatus) {
					if (data.status == 1) {
						$("#headmenu").prepend('<li class="line"><a href="<%linkurl("usercenter","exit")%>">退出</a></li>');
						$("#headmenu").prepend('<li class="login"><em></em><a href="<%linkurl("usercenter","index")%>">会员中心</a></li>');
					} else {
						$("#headmenu").prepend('<li class="line"><a href="<%linkurl("register")%>">注册</a></li>');
						$("#headmenu").prepend('<li class="login"><em></em><a href="<%linkurl("login")%>">登录</a></li>');
					}
				}
			});
*/
		</script>