<div class="join_in">
    <div class="rowFluid">
        <div class="span12">
            <div class="container">
                <div class="join_in_title wow fadeInUp">
                    选择君飞，<span>让你的企业快速迈向互联网+时代</span></div>
                <div class="join_in_text wow fadeInLeft">
                    选择对的服务商能让您更快更好的迈进互联网+时代</div>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=3133119519&site=qq&menu=yes " class="all_button join_in_button wow fadeInUp"
                    target="_blank">点击咨询</a>
            </div>
        </div>
    </div>
</div>
