<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>{site.seo_title}</title>
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />
    <meta name="author" content="order by www.kinfar.com" />
    <meta name="renderer" content="webkit">
    <!--ico-->
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/base.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/responsive.css" />
    <script src="<%templateskin%>/js/jquery-1.11.0.min.js"></script>
    <script src="<%templateskin%>/js/wow.min_1.js"></script>
    <script src="<%templateskin%>/js/owl.carousel.min.js"></script>
    <script src="<%templateskin%>/js/page.js"></script>
</head>
<body>
    <!--页面头部-->
    <%template src="_header.html"%>
    <!--/页面头部-->
    <!--右侧漂浮客服-->
    <%template src="_rightfloat.html"%>
    <!--/右侧漂浮客服-->
    <div class="page">
        <div class="rowFluid">
            <div class="span12">
                <div class="main">
                    <div class="z_banner support_z_banner">
                        <div class="rowFluid">
                            <div class="span12">
                                <div class="container">
                                    <h3 class="z_banner_title">{model.title}</h3>
                                    <div class="z_banner_text">
                                        {model.zhaiyao}
                                    </div>
                                </div>
                                <ul class="platform_advantage_bg_z">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="kzf-mod-product">
                        <div class="rowFluid">
                            <div class="container">
                                <div class="kzf-mod-product-header wow fadeInUp">
                                 {model.content}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--页面底部-->
                    <%template src="_footer1.html"%>
                    <!--/页面底部-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
