<!DOCTYPE html>
<html style="width:100%;height:100%">
<head>
        <!-- meta -->
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, minimumscale=1.0, maximum-scale=1.0" />
        <meta name="language" content="zh-cn" />
        <meta name="renderer" content="webkit" />
        <title>{site.seo_title}</title>
        <meta name="keywords" content="{site.seo_keyword}" />
        <meta name="description" content="{site.seo_description}" />
        <script src="{config.webpath}templates/v/js/jquery-2.1.3.min.js"></script>
        <script src="{config.webpath}templates/v/js/jquery.cookie.js"></script>
</head>
<body style="width:100%;height:100%;margin:0px; overflow:hidden;">
<iframe id="ifr" src="#" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
</body>
</html>
<script>
    var api='{model.img_url}';
</script>
<script src="{config.webpath}templates/v/js/yun.js"></script>