<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>sitebackup</directory>
  <name>站点数据备份</name>
  <author>Kingfly</author>
  <version>V5.0</version>
  <description>只适合V5.0MVC版本</description>
  <isload>1</isload>
  <install>
  </install>
  <uninstall>
  </uninstall>
  <urls>
    <rewrite name="sitebackup" type="plugin" page="sitebackup.cshtml" inherit="" templet="sitebackup.cshtml">
      <item path="sitebackup.aspx" pattern="sitebackup.aspx" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_sitebackup" title="站点数据备份" url="sitebackup/index" action="Show,View,Add,Edit,Delete,Audit" />
  </menu>
</plugin>