@using System.Data;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.BLL;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/mobile/Shared/_Layout.cshtml";
   DTcms.Model.channel_site site = ViewData["site"] as DTcms.Model.channel_site;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   SearchController c = ViewBag.This as SearchController;
   ViewBag.Title = "站内搜索 - " + site.name;
   string channel = ViewBag.Channel as string;
   int category_id = int.Parse(ViewBag.CategoryId as string);
}
@section HeaderContent{
}

@section Scripts{
<script>
   function baoliao(page, title, channel) {
      var keyword = title;
      //alert("page:" + page + ", title:" + title + ", channel:" + channel);
      $(".baoliao_more").html("<img src='@(config.webpath)templates/@ViewBag.TemplateSkin/mobile/images/loading.gif' />");
      $("#lbTotalCount").text("-");
      $("#lbKeyword").text(title);
      $.ajax({
         type: "post",
         url: "get_list_page?page=" + page + "&keyword=" + keyword + "&channel=" + channel,
         data: {'title': title },
         success: function (data) {
            $("#totalcount").remove();
            $(".baoliao_list").append(data);
            var totalcount = Number($("#totalcount").text());
            if (page == 1) { //如果是加载第一页,设置显示总数据行数
               $("#lbKeyword").text(title);
               $("#lbTotalCount").text(totalcount);
            }
            if (page * 15  > totalcount) { //判断数据是否已经加载完成
               $(".baoliao_more").html('已全部加载完成');
               $(".baoliao_more").unbind("click");
            } else {
               $(".baoliao_more").html('加载更多');
            }
         }
      });
   }

   function search(channel, ctl) {
      $(".shaixuan_mall a").removeClass("current");
      $(ctl).find("a").addClass("current");
      var title = $.trim($("#bl_title").val());
      if (title == '') {
         layer.tips('请输入您想要查找的信息！', '#bl_title', { tips: 1 });
         return false;
      } else {
         $(".baoliao_list").empty();
         page = 1;
         baoliao(page, title, channel);
      }
   }

   $(document).ready(function () {
      var page = 1;
      var title = $.trim($("#bl_title").val());
      var channel = "@ViewBag.Channel";
      if (title != '') {
         baoliao(page, title, channel);
      } else {
         baoliao(1, "", "");
      }

      $(".shaixuan_mall span").click(function () {
         search($(this).find("label").text(), this);
      });

      $(".baoliao_more").click(function () {
         var title = $.trim($("#bl_title").val());
         page++;
         baoliao(page, title, channel);
      });
      /*$("#bl_submit").click(function () {
         var title = $.trim($("#bl_title").val());
         if (title == '') {
            layer.tips('请输入您想要查找的信息！', '#bl_title', { tips: 1 });
            return false;
         } else {
            $(".baoliao_list").empty();
            page = 1;
            baoliao(page, title, channel);
         }
      });*/
   });
</script>
}
<div class="message">
   <span>搜索关健字： <label id="lbKeyword" class="color_luse">@ViewBag.Keyword</label> ，共有 <label id="lbTotalCount" class="color_red">-</label> 条记录</span>
</div>
<!--内容列表-->
<div class="baoliao w">
   <div class="ui-tab">
      <div class="ui-tab-content baoliao_list">
      </div>
      <div class="bl_more m_more"><a href="javascript:void(0);" class="baoliao_more">加载更多</a></div>
   </div>
</div>
<!--/内容列表-->