USE [master]
GO
/****** Object:  Database [xhdcrm]    Script Date: 2015/3/16 11:03:56 ******/
CREATE DATABASE [xhdcrm] ON  PRIMARY 
( NAME = N'xhdcrm', FILENAME = N'F:\Visual Studio 2013\XHD\CRM\App_Data\xhdcrm.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'xhdcrm_log', FILENAME = N'F:\Visual Studio 2013\XHD\CRM\App_Data\xhdcrm.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [xhdcrm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [xhdcrm]
GO
/****** Object:  Table [dbo].[CRM_Contact]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[C_name] [varchar](250) NULL,
	[C_sex] [varchar](250) NULL,
	[C_department] [varchar](250) NULL,
	[C_position] [varchar](250) NULL,
	[C_birthday] [varchar](250) NULL,
	[C_tel] [varchar](250) NULL,
	[C_fax] [varchar](250) NULL,
	[C_email] [varchar](250) NULL,
	[C_mob] [varchar](250) NULL,
	[C_QQ] [varchar](250) NULL,
	[C_add] [varchar](250) NULL,
	[C_hobby] [varchar](250) NULL,
	[C_remarks] [varchar](max) NULL,
	[C_customerid] [int] NULL,
	[C_customername] [varchar](250) NULL,
	[C_createId] [int] NULL,
	[C_createDate] [datetime] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_Contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_contract]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_contract](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Contract_name] [varchar](250) NULL,
	[Serialnumber] [varchar](250) NULL,
	[Customer_id] [int] NULL,
	[Customer_name] [varchar](250) NULL,
	[C_depid] [int] NULL,
	[C_depname] [varchar](250) NULL,
	[C_empid] [int] NULL,
	[C_empname] [varchar](250) NULL,
	[Contract_amount] [float] NULL,
	[Pay_cycle] [int] NULL,
	[Start_date] [varchar](250) NULL,
	[End_date] [varchar](250) NULL,
	[Sign_date] [varchar](250) NULL,
	[Customer_Contractor] [varchar](250) NULL,
	[Our_Contractor_depid] [int] NULL,
	[Our_Contractor_depname] [varchar](250) NULL,
	[Our_Contractor_id] [int] NULL,
	[Our_Contractor_name] [varchar](250) NULL,
	[Creater_id] [int] NULL,
	[Creater_name] [varchar](250) NULL,
	[Create_time] [datetime] NULL,
	[Main_Content] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[File_serialnumber] [varchar](250) NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_contract] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_contract_attachment]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_contract_attachment](
	[contract_id] [int] NULL,
	[page_id] [varchar](250) NULL,
	[file_id] [varchar](250) NULL,
	[file_name] [varchar](250) NULL,
	[real_name] [varchar](250) NULL,
	[file_size] [int] NULL,
	[create_id] [int] NULL,
	[create_name] [varchar](250) NULL,
	[create_date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_Customer]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Serialnumber] [varchar](250) NULL,
	[Customer] [varchar](250) NULL,
	[address] [varchar](250) NULL,
	[tel] [varchar](250) NULL,
	[fax] [varchar](250) NULL,
	[site] [varchar](250) NULL,
	[industry_id] [int] NULL,
	[industry] [varchar](250) NULL,
	[Provinces_id] [int] NULL,
	[Provinces] [varchar](250) NULL,
	[City_id] [int] NULL,
	[City] [varchar](250) NULL,
	[CustomerType_id] [int] NULL,
	[CustomerType] [varchar](250) NULL,
	[CustomerLevel_id] [int] NULL,
	[CustomerLevel] [varchar](250) NULL,
	[CustomerSource_id] [int] NULL,
	[CustomerSource] [varchar](250) NULL,
	[DesCripe] [varchar](4000) NULL,
	[Remarks] [varchar](4000) NULL,
	[Department_id] [int] NULL,
	[Department] [varchar](250) NULL,
	[Employee_id] [int] NULL,
	[Employee] [varchar](250) NULL,
	[privatecustomer] [varchar](50) NULL,
	[lastfollow] [datetime] NULL,
	[Create_id] [int] NULL,
	[Create_name] [varchar](250) NULL,
	[Create_date] [datetime] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_Follow]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_Follow](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_id] [int] NULL,
	[Customer_name] [varchar](250) NULL,
	[Follow] [varchar](max) NULL,
	[Follow_date] [datetime] NULL,
	[Follow_Type_id] [int] NULL,
	[Follow_Type] [varchar](250) NULL,
	[department_id] [int] NULL,
	[department_name] [varchar](250) NULL,
	[employee_id] [int] NULL,
	[employee_name] [varchar](250) NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_Follow] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_invoice]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_id] [int] NULL,
	[Customer_name] [varchar](250) NULL,
	[invoice_num] [varchar](250) NULL,
	[invoice_type_id] [int] NULL,
	[invoice_type] [varchar](250) NULL,
	[invoice_amount] [float] NULL,
	[invoice_content] [varchar](max) NULL,
	[invoice_date] [datetime] NULL,
	[C_depid] [int] NULL,
	[C_depname] [varchar](250) NULL,
	[C_empid] [int] NULL,
	[C_empname] [varchar](250) NULL,
	[create_id] [int] NULL,
	[create_name] [varchar](250) NULL,
	[create_date] [datetime] NULL,
	[order_id] [int] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_invoice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_order]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Serialnumber] [varchar](250) NULL,
	[Customer_id] [int] NULL,
	[Customer_name] [varchar](250) NULL,
	[Order_date] [datetime] NULL,
	[pay_type_id] [int] NULL,
	[pay_type] [varchar](250) NULL,
	[Order_details] [varchar](max) NULL,
	[Order_status_id] [int] NULL,
	[Order_status] [varchar](250) NULL,
	[Order_amount] [float] NULL,
	[create_id] [int] NULL,
	[create_date] [datetime] NULL,
	[C_dep_id] [int] NULL,
	[C_dep_name] [varchar](250) NULL,
	[C_emp_id] [int] NULL,
	[C_emp_name] [varchar](250) NULL,
	[F_dep_id] [int] NULL,
	[F_dep_name] [varchar](250) NULL,
	[F_emp_id] [int] NULL,
	[F_emp_name] [varchar](250) NULL,
	[receive_money] [float] NULL,
	[arrears_money] [float] NULL,
	[invoice_money] [float] NULL,
	[arrears_invoice] [float] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_order_details]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_order_details](
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[product_name] [varchar](250) NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[unit] [varchar](250) NULL,
	[amount] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_product]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](250) NULL,
	[category_id] [int] NULL,
	[category_name] [varchar](250) NULL,
	[specifications] [varchar](250) NULL,
	[status] [varchar](250) NULL,
	[unit] [varchar](250) NULL,
	[remarks] [varchar](max) NULL,
	[price] [float] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_product_category]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_product_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_category] [varchar](250) NULL,
	[parentid] [int] NULL,
	[product_icon] [varchar](250) NULL,
	[isDelete] [int] NULL,
	[Delete_id] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_CRM_product_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRM_receive]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRM_receive](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_id] [int] NULL,
	[Customer_name] [varchar](250) NULL,
	[Receive_num] [varchar](250) NULL,
	[Pay_type_id] [int] NULL,
	[Pay_type] [varchar](250) NULL,
	[Receive_amount] [float] NULL,
	[Receive_date] [datetime] NULL,
	[C_depid] [int] NULL,
	[C_depname] [varchar](250) NULL,
	[C_empid] [int] NULL,
	[C_empname] [varchar](250) NULL,
	[create_id] [int] NULL,
	[create_name] [varchar](250) NULL,
	[create_date] [datetime] NULL,
	[companyid] [int] NULL,
	[order_id] [int] NULL,
	[remarks] [varchar](max) NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
	[receive_direction_id] [int] NULL,
	[receive_direction_name] [varchar](250) NULL,
	[receive_type_id] [int] NULL,
	[receive_type_name] [varchar](250) NULL,
	[receive_real] [float] NULL,
 CONSTRAINT [PK_CRM_receive] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hr_department]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[d_name] [varchar](50) NULL,
	[parentid] [int] NULL,
	[parentname] [varchar](50) NULL,
	[d_type] [varchar](50) NULL,
	[d_icon] [varchar](50) NULL,
	[d_fuzeren] [varchar](50) NULL,
	[d_tel] [varchar](50) NULL,
	[d_fax] [varchar](50) NULL,
	[d_add] [varchar](255) NULL,
	[d_email] [varchar](50) NULL,
	[d_miaoshu] [varchar](255) NULL,
	[d_order] [int] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_hr_department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hr_employee]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[uid] [varchar](50) NULL,
	[pwd] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[idcard] [varchar](50) NULL,
	[birthday] [varchar](50) NULL,
	[d_id] [int] NULL,
	[dname] [varchar](50) NULL,
	[postid] [int] NULL,
	[post] [varchar](250) NULL,
	[email] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[tel] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[zhiwuid] [int] NULL,
	[zhiwu] [varchar](50) NULL,
	[sort] [int] NULL,
	[EntryDate] [varchar](50) NULL,
	[address] [varchar](255) NULL,
	[remarks] [varchar](255) NULL,
	[education] [varchar](50) NULL,
	[level] [varchar](50) NULL,
	[professional] [varchar](50) NULL,
	[schools] [varchar](50) NULL,
	[title] [varchar](50) NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
	[portal] [varchar](250) NULL,
	[theme] [varchar](250) NULL,
	[canlogin] [int] NULL,
 CONSTRAINT [PK_hr_employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hr_position]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_position](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position_name] [varchar](250) NULL,
	[position_order] [int] NULL,
	[position_level] [varchar](50) NULL,
	[create_id] [int] NULL,
	[create_date] [datetime] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_hr_position] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hr_post]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hr_post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[post_name] [varchar](255) NULL,
	[position_id] [int] NULL,
	[position_name] [varchar](255) NULL,
	[position_order] [int] NULL,
	[dep_id] [int] NULL,
	[depname] [varchar](255) NULL,
	[emp_id] [int] NULL,
	[emp_name] [varchar](255) NULL,
	[default_post] [int] NULL,
	[note] [varchar](max) NULL,
	[post_descript] [varchar](max) NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_hr_post] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Param_City]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Param_City](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentid] [int] NULL,
	[City] [varchar](250) NULL,
	[City_order] [int] NULL,
	[Create_id] [int] NULL,
	[Create_date] [datetime] NULL,
	[Update_id] [int] NULL,
	[Update_date] [datetime] NULL,
 CONSTRAINT [PK_Param_City] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Param_SysParam]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Param_SysParam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentid] [int] NULL,
	[params_name] [varchar](250) NULL,
	[params_order] [int] NULL,
	[Create_id] [int] NULL,
	[Create_date] [datetime] NULL,
	[Update_id] [int] NULL,
	[Update_date] [datetime] NULL,
 CONSTRAINT [PK_Param_SysParam] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Param_SysParam_Type]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Param_SysParam_Type](
	[id] [int] NOT NULL,
	[params_name] [varchar](250) NULL,
	[params_order] [int] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Personal_Calendar]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personal_Calendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NULL,
	[emp_name] [varchar](250) NULL,
	[companyid] [int] NULL,
	[Subject] [varchar](max) NULL,
	[Location] [varchar](max) NULL,
	[MasterId] [int] NULL,
	[Description] [varchar](max) NULL,
	[CalendarType] [tinyint] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[IsAllDayEvent] [bit] NULL,
	[HasAttachment] [bit] NULL,
	[Category] [varchar](max) NULL,
	[InstanceType] [tinyint] NULL,
	[Attendees] [varchar](max) NULL,
	[AttendeeNames] [varchar](max) NULL,
	[OtherAttendee] [varchar](max) NULL,
	[UPAccount] [varchar](250) NULL,
	[UPName] [varchar](250) NULL,
	[UPTime] [datetime] NULL,
	[RecurringRule] [varchar](max) NULL,
 CONSTRAINT [PK_Personal_Calendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Personal_notes]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personal_notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NULL,
	[emp_name] [varchar](250) NULL,
	[note_content] [varchar](max) NULL,
	[note_color] [varchar](250) NULL,
	[xyz] [varchar](250) NULL,
	[note_time] [datetime] NULL,
 CONSTRAINT [PK_Personal_notes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[public_news]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[public_news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[news_title] [varchar](250) NULL,
	[news_content] [varchar](max) NULL,
	[create_id] [int] NULL,
	[create_name] [varchar](250) NULL,
	[dep_id] [int] NULL,
	[dep_name] [varchar](250) NULL,
	[news_time] [datetime] NULL,
	[isDelete] [int] NULL,
	[Delete_time] [datetime] NULL,
 CONSTRAINT [PK_public_news] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[public_notice]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[public_notice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[notice_title] [varchar](250) NULL,
	[notice_content] [varchar](max) NULL,
	[create_id] [int] NULL,
	[create_name] [varchar](250) NULL,
	[dep_id] [int] NULL,
	[dep_name] [varchar](250) NULL,
	[notice_time] [datetime] NULL,
 CONSTRAINT [PK_public_notice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_App]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_App](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[App_name] [varchar](100) NULL,
	[App_order] [int] NULL,
	[App_url] [varchar](250) NULL,
	[App_handler] [varchar](250) NULL,
	[App_type] [varchar](50) NULL,
	[App_icon] [varchar](250) NULL,
 CONSTRAINT [PK_Sys_App] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_authority]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_authority](
	[Role_id] [int] NOT NULL,
	[App_ids] [varchar](250) NULL,
	[Menu_ids] [varchar](250) NULL,
	[Button_ids] [varchar](250) NULL,
	[Create_id] [int] NULL,
	[Create_date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Button]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Button](
	[Btn_id] [int] IDENTITY(1,1) NOT NULL,
	[Btn_name] [varchar](255) NULL,
	[Btn_icon] [varchar](50) NULL,
	[Btn_handler] [varchar](255) NULL,
	[Menu_id] [int] NULL,
	[Menu_name] [varchar](255) NULL,
	[Btn_order] [int] NULL,
 CONSTRAINT [PK_Sys_Button] PRIMARY KEY CLUSTERED 
(
	[Btn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_data_authority]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_data_authority](
	[Role_id] [int] NULL,
	[option_id] [int] NULL,
	[Sys_option] [varchar](250) NULL,
	[Sys_view] [int] NULL,
	[Sys_add] [int] NULL,
	[Sys_edit] [int] NULL,
	[Sys_del] [int] NULL,
	[Create_id] [int] NULL,
	[Create_date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_info]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sys_key] [varchar](50) NULL,
	[sys_value] [varchar](max) NULL,
 CONSTRAINT [PK_sys_info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_log]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EventType] [varchar](250) NULL,
	[EventID] [varchar](50) NULL,
	[EventTitle] [varchar](250) NULL,
	[Original_txt] [varchar](4000) NULL,
	[Current_txt] [varchar](4000) NULL,
	[UserID] [int] NULL,
	[UserName] [varchar](50) NULL,
	[IPStreet] [varchar](50) NULL,
	[EventDate] [datetime] NULL,
 CONSTRAINT [PK_Sys_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_log_Err]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_log_Err](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Err_typeid] [int] NULL,
	[Err_type] [varchar](250) NULL,
	[Err_time] [datetime] NULL,
	[Err_url] [varchar](500) NULL,
	[Err_message] [varchar](max) NULL,
	[Err_source] [varchar](500) NULL,
	[Err_trace] [varchar](max) NULL,
	[Err_emp_id] [int] NULL,
	[Err_emp_name] [varchar](250) NULL,
	[Err_ip] [varchar](250) NULL,
 CONSTRAINT [PK_Sys_log_Err] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Menu]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Menu](
	[Menu_id] [int] IDENTITY(1,1) NOT NULL,
	[Menu_name] [varchar](255) NULL,
	[parentid] [int] NULL,
	[parentname] [varchar](255) NULL,
	[App_id] [int] NULL,
	[Menu_url] [varchar](255) NULL,
	[Menu_icon] [varchar](50) NULL,
	[Menu_handler] [varchar](50) NULL,
	[Menu_order] [int] NULL,
	[Menu_type] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_Menu] PRIMARY KEY CLUSTERED 
(
	[Menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_online]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_online](
	[UserID] [int] NULL,
	[UserName] [varchar](50) NULL,
	[LastLogTime] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_role]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](255) NULL,
	[RoleDscript] [varchar](255) NULL,
	[RoleSort] [int] NULL,
	[CreateID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateID] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Sys_role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_role_emp]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role_emp](
	[RoleID] [int] NOT NULL,
	[empID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tool_batch]    Script Date: 2015/3/16 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tool_batch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_type] [varchar](50) NULL,
	[o_dep_id] [int] NULL,
	[o_dep] [varchar](250) NULL,
	[o_emp_id] [int] NULL,
	[o_emp] [varchar](250) NULL,
	[c_dep_id] [int] NULL,
	[c_dep] [varchar](250) NULL,
	[c_emp_id] [int] NULL,
	[c_emp] [varchar](250) NULL,
	[b_count] [int] NULL,
	[create_id] [int] NULL,
	[create_name] [varchar](250) NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_tool_batch] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[hr_department] ON 

INSERT [dbo].[hr_department] ([id], [d_name], [parentid], [parentname], [d_type], [d_icon], [d_fuzeren], [d_tel], [d_fax], [d_add], [d_email], [d_miaoshu], [d_order], [isDelete], [Delete_time]) VALUES (1, N'小黄豆软件', 0, N'无', N'公司', N'images/icon/61.png', N'黄润伟', N'13467644655', N'', N'湖南省长沙市白沙路70号', N'250476029@qq.com', N'', 10, NULL, NULL)
SET IDENTITY_INSERT [dbo].[hr_department] OFF
SET IDENTITY_INSERT [dbo].[hr_employee] ON 

INSERT [dbo].[hr_employee] ([ID], [uid], [pwd], [name], [idcard], [birthday], [d_id], [dname], [postid], [post], [email], [sex], [tel], [status], [zhiwuid], [zhiwu], [sort], [EntryDate], [address], [remarks], [education], [level], [professional], [schools], [title], [isDelete], [Delete_time], [portal], [theme], [canlogin]) VALUES (1, N'admin', N'E10ADC3949BA59ABBE56E057F20F883E', N'超级管理员', NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[hr_employee] OFF
SET IDENTITY_INSERT [dbo].[Param_City] ON 

INSERT [dbo].[Param_City] ([id], [parentid], [City], [City_order], [Create_id], [Create_date], [Update_id], [Update_date]) VALUES (1, 0, N'北京', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Param_City] ([id], [parentid], [City], [City_order], [Create_id], [Create_date], [Update_id], [Update_date]) VALUES (2, 0, N'上海', 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[Param_City] ([id], [parentid], [City], [City_order], [Create_id], [Create_date], [Update_id], [Update_date]) VALUES (3, 0, N'天津', 3, NULL, NULL, NULL, NULL)





SET IDENTITY_INSERT [dbo].[Param_City] OFF
SET IDENTITY_INSERT [dbo].[Param_SysParam_Type] ON
INSERT [dbo].[Param_SysParam_Type] ([id], [params_name], [params_order], [isDelete], [Delete_time]) VALUES (8, N'客户行业', 10, NULL, NULL)
INSERT [dbo].[Param_SysParam_Type] ([id], [params_name], [params_order], [isDelete], [Delete_time]) VALUES (1, N'客户类型', 20, NULL, NULL)
INSERT [dbo].[Param_SysParam_Type] ([id], [params_name], [params_order], [isDelete], [Delete_time]) VALUES (2, N'客户级别', 30, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Param_SysParam_Type] OFF 
SET IDENTITY_INSERT [dbo].[Sys_App] ON 
INSERT [dbo].[Sys_App] ([id], [App_name], [App_order], [App_url], [App_handler], [App_type], [App_icon]) VALUES (1, N'个人办公', 10, NULL, NULL, NULL, N'images/icon/62.png')
INSERT [dbo].[Sys_App] ([id], [App_name], [App_order], [App_url], [App_handler], [App_type], [App_icon]) VALUES (2, N'CRM客户管理', 20, NULL, NULL, NULL, N'images/icon/85.png')
INSERT [dbo].[Sys_App] ([id], [App_name], [App_order], [App_url], [App_handler], [App_type], [App_icon]) VALUES (3, N'人事管理', 30, NULL, NULL, NULL, N'images/icon/37.png')
SET IDENTITY_INSERT [dbo].[Sys_App] OFF
INSERT [dbo].[Sys_authority] ([Role_id], [App_ids], [Menu_ids], [Button_ids], [Create_id], [Create_date]) VALUES (1, N'a1,', N'm1,m2,m7,m12,m13,m14,', N',,,b93,b94,b95,b11,b12,b13,', NULL, NULL)
INSERT [dbo].[Sys_authority] ([Role_id], [App_ids], [Menu_ids], [Button_ids], [Create_id], [Create_date]) VALUES (1, N'a3,', N'm17,m21,m22,m23,m24,', N',,,b21,b22,b20,b23,b24,b25,b28,b27,b26,b29,b31,b30,b92,', NULL, NULL)
INSERT [dbo].[Sys_authority] ([Role_id], [App_ids], [Menu_ids], [Button_ids], [Create_id], [Create_date]) VALUES (1, N'a6,', N'm30,m31,m32,m43,m84,m60,m59,m76,', N',,,b32,b34,b33,b35,b37,b36,b87,b85,b86,b88,b89,b90,b4,b5,b6,b7,b1,b2,b3,', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sys_Button] ON 

INSERT [dbo].[Sys_Button] ([Btn_id], [Btn_name], [Btn_icon], [Btn_handler], [Menu_id], [Menu_name], [Btn_order]) VALUES (1, N'新增', N'images/icon/11.png', N'add()', 76, N'目录管理', 10)
INSERT [dbo].[Sys_Button] ([Btn_id], [Btn_name], [Btn_icon], [Btn_handler], [Menu_id], [Menu_name], [Btn_order]) VALUES (2, N'修改', N'images/icon/33.png', N'edit()', 76, N'目录管理', 20)
INSERT [dbo].[Sys_Button] ([Btn_id], [Btn_name], [Btn_icon], [Btn_handler], [Menu_id], [Menu_name], [Btn_order]) VALUES (3, N'删除', N'images/icon/12.png', N'del()', 76, N'目录管理', 30)
SET IDENTITY_INSERT [dbo].[Sys_Button] OFF
INSERT [dbo].[Sys_data_authority] ([Role_id], [option_id], [Sys_option], [Sys_view], [Sys_add], [Sys_edit], [Sys_del], [Create_id], [Create_date]) VALUES (1, 1, N'客户管理', 4, 4, 4, 4, NULL, NULL)
INSERT [dbo].[Sys_data_authority] ([Role_id], [option_id], [Sys_option], [Sys_view], [Sys_add], [Sys_edit], [Sys_del], [Create_id], [Create_date]) VALUES (1, 2, N'跟进管理', 4, 4, 4, 4, NULL, NULL)
INSERT [dbo].[Sys_data_authority] ([Role_id], [option_id], [Sys_option], [Sys_view], [Sys_add], [Sys_edit], [Sys_del], [Create_id], [Create_date]) VALUES (1, 3, N'订单管理', 4, 4, 4, 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[sys_info] ON 

INSERT [dbo].[sys_info] ([id], [sys_key], [sys_value]) VALUES (1, N'sys_guid', NEWID())
INSERT [dbo].[sys_info] ([id], [sys_key], [sys_value]) VALUES (2, N'sys_name', N'KFCRM')
INSERT [dbo].[sys_info] ([id], [sys_key], [sys_value]) VALUES (3, N'sys_lo', N'images/logo/logo.png')
SET IDENTITY_INSERT [dbo].[sys_info] OFF
SET IDENTITY_INSERT [dbo].[Sys_log] ON 

INSERT [dbo].[Sys_log] ([id], [EventType], [EventID], [EventTitle], [Original_txt], [Current_txt], [UserID], [UserName], [IPStreet], [EventDate]) VALUES (1, N'系统登录', NULL, NULL, NULL, NULL, 1, N'超级管理员', N'::1', CAST(N'2015-02-11 12:52:27.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sys_log] OFF

SET IDENTITY_INSERT [dbo].[Sys_Menu] ON 

INSERT [dbo].[Sys_Menu] ([Menu_id], [Menu_name], [parentid], [parentname], [App_id], [Menu_url], [Menu_icon], [Menu_handler], [Menu_order], [Menu_type]) VALUES (1, N'个人工作', 0, N'无', 1, N'', N'images/icon/37.png', NULL, 10, N'sys')
INSERT [dbo].[Sys_Menu] ([Menu_id], [Menu_name], [parentid], [parentname], [App_id], [Menu_url], [Menu_icon], [Menu_handler], [Menu_order], [Menu_type]) VALUES (2, N'我的便签', 1, N'个人工作', 1, N'personal/personal/notes.aspx', N'images/icon/33.png', NULL, 10, N'sys')
INSERT [dbo].[Sys_Menu] ([Menu_id], [Menu_name], [parentid], [parentname], [App_id], [Menu_url], [Menu_icon], [Menu_handler], [Menu_order], [Menu_type]) VALUES (3, N'客户管理', 0, N'无', 2, N'', N'images/icon/37.png', NULL, 10, N'sys')
SET IDENTITY_INSERT [dbo].[Sys_Menu] OFF
INSERT [dbo].[Sys_online] ([UserID], [UserName], [LastLogTime]) VALUES (1, N'超级管理员', CAST(N'2015-02-11 14:04:18.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sys_role] ON 

INSERT [dbo].[Sys_role] ([RoleID], [RoleName], [RoleDscript], [RoleSort], [CreateID], [CreateDate], [UpdateID], [UpdateDate]) VALUES (1, N'系统管理员', N'拥有全部权限', 999, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sys_role] OFF
USE [master]
GO
