@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
}
<header id="main_header">
   <h2 class="logo"><img src="@(config.webpath)templates/@site.templet_path/images/logo.png" /></h2>
   <a onclick="af.ui.toggleSideMenu()" class="menuButton"></a>
</header>