@using System.Data;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
    DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
    Layout = "~/Areas/Web/Views/" + site.templet_path + "/Shared/_Layout.cshtml";
}
@section HeaderContent{

}

@section Scripts_Head{
    <script src="~/templates/@site.templet_path/js/rem.js"></script>
}
<header class="mui-bar mui-bar-nav" id="header">
    <div class="flex-col">
        <div class="centerflex">
            <h1 class="mui-title">君飞智慧科技工作室</h1>
        </div>
    </div>
    <a class="btn" href="#">
        <i class="iconfont icon-setting"></i>
    </a>
</header>

<div id="main" class="mui-clearfix">
    <div class="mui-content">
        <div class="banner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="javascript:void(0)"><img class="swiper-lazy" data-src="/templates/@site.templet_path/uploads/banner1.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)"><img class="swiper-lazy" data-src="/templates/@site.templet_path/uploads/banner1.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)"><img class="swiper-lazy" data-src="/templates/@site.templet_path/uploads/banner1.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:void(0)"><img class="swiper-lazy" data-src="/templates/@site.templet_path/uploads/banner1.jpg" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="home-nav ui-box">
            <div class="ui-flex flex-justify-sb">
                <div><a href=""><img src="/templates/@site.templet_path/img/homenav1.png" class="ico"  alt="" /><span class="name">新增订单</span></a></div>
                <div><a href=""><img src="/templates/@site.templet_path/img/homenav2.png" class="ico"  alt="" /><span class="name">成交订单</span></a></div>
                <div><a href=""><img src="/templates/@site.templet_path/img/homenav3.png" class="ico"  alt="" /><span class="name">本日出库</span></a></div>
                <div><a href=""><img src="/templates/@site.templet_path/img/homenav4.png" class="ico"  alt="" /><span class="name">即时库存</span></a></div>
            </div>
        </div>
        <div class="home-qnav ui-box">
            <div class="ui-flex flex-justify-sb">
                <div><a href="http://www.kinfar.net"><img src="/templates/@site.templet_path/img/qnav1.png" class="ico" /><span class="name">商品</span></a></div>
                <div><a href="http://www.kinfar.net"><img src="/templates/@site.templet_path/img/qnav2.png" class="ico" /><span class="name">客户</span></a></div>
                <div><a href="http://www.kinfar.net"><img src="/templates/@site.templet_path/img/qnav3.png" class="ico" /><span class="name">供应商</span></a></div>
                <div><a href="http://www.kinfar.net"><img src="/templates/@site.templet_path/img/qnav4.png" class="ico" /><span class="name">职员</span></a></div>
            </div>
        </div>
		<ul class="mui-table-view">
		    <li class="mui-table-view-cell mui-collapse">
		        <a class="mui-navigate-right" href="#">销售</a>
		        <div class="mui-collapse-content">
		            <p>面板1子内容</p>
		             <p>面板1子内容</p>
		              <p>面板1子内容</p>
		               <p>面板1子内容</p>
		                <p>面板1子内容</p>
		                 <p>面板1子内容</p>
		                  <p>面板1子内容</p>
		        </div>
		    </li>
		    <li class="mui-table-view-cell mui-collapse">
		        <a class="mui-navigate-right" href="#">采购</a>
		            <div class="mui-collapse-content">
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		        </div>
		    </li>
		    <li class="mui-table-view-cell mui-collapse">
		        <a class="mui-navigate-right" href="#">仓库</a>
		        <div class="mui-collapse-content">
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		            <p>面板2子内容</p>
		        </div>
		    </li>
		</ul>
    </div> <!--mui-content end-->
</div>

<footer class="page-footer fixed-footer" id="footer">
    <ul>
        <li class="active">
            <a href="index.html">
                <img src="/templates/@site.templet_path/images/footer01.png" />
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="shopcar.html">
                <img src="/templates/@site.templet_path/images/footer003.png" />
                <p>工作台</p>
            </a>
        </li>
        <li>
            <a href="assort.html">
                <img src="/templates/@site.templet_path/images/footer002.png" />
                <p>消息</p>
            </a>
        </li>
        <li>
            <a href="self.html">
                <img src="/templates/@site.templet_path/images/footer004.png" />
                <p>我的</p>
            </a>
        </li>
    </ul>
</footer>

@section Scripts_Foot{
    <script type="text/javascript" src="/templates/@site.templet_path/js/jquery-1.8.3.min.js"></script>
    <script src="/templates/@site.templet_path/js/fastclick.js"></script>
    <script src="/templates/@site.templet_path/js/mui.min.js"></script>
    <script type="text/javascript" src="/templates/@site.templet_path/js/hmt.js"></script>
    <!--插件-->
    <link rel="stylesheet" href="/templates/@site.templet_path/js/swiper/swiper.min.css">
    <script src="/templates/@site.templet_path/js/swiper/swiper.jquery.min.js"></script>
    <!--插件-->
    <script src="/templates/@site.templet_path/js/global.js"></script>
    <script>
    	mui.init();
        $(function () {
            var banner = new Swiper('.banner', {
                autoplay: 5000,
                pagination: '.swiper-pagination',
                paginationClickable: true,
                lazyLoading: true,
                loop: true
            });

            mui('.pop-schwrap .sch-input').input();
            var deceleration = mui.os.ios ? 0.003 : 0.0009;
            mui('.pop-schwrap .scroll-wrap').scroll({
                bounce: true,
                indicators: true,
                deceleration: deceleration
            });
        });
    </script>
}