<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.index" templet="index.cshtml">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.search" templet="search.cshtml" />
  <rewrite name="error" type="other" page="error.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.error" templet="error.cshtml" />
  <rewrite name="cart" type="other" page="cart.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.cart" templet="cart.cshtml" />
  <rewrite name="shopping" type="other" page="shopping.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.shopping" templet="shopping.cshtml" />
  <rewrite name="payment" type="other" page="payment.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.payment" templet="payment.cshtml" />
  <rewrite name="login" type="other" page="login.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.login" templet="login.cshtml" />
  <rewrite name="oauth_login" type="other" page="oauth_login.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.oauth_login" templet="oauth_login.cshtml" />
  <rewrite name="register" type="other" page="register.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.register" templet="register.cshtml" />
  <rewrite name="repassword" type="other" page="repassword.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.repassword" templet="repassword.cshtml" />
  <rewrite name="usercenter" type="other" page="usercenter.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.usercenter" templet="usercenter.cshtml">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.usermessage" templet="usermessage.cshtml">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.usermessage_show" templet="usermessage_show.cshtml">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.userpoint" templet="userpoint.cshtml">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.useramount" templet="useramount.cshtml">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useraddress" type="other" page="useraddress.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.useraddress" templet="useraddress.cshtml">
    <item path="user/address.aspx" pattern="user/address.aspx" />
    <item path="user/address-{0}.aspx" pattern="user/address-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="useraddress_edit" type="other" page="useraddress_edit.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.useraddress_edit" templet="useraddress_edit.cshtml">
    <item path="user/address/{0}.aspx" pattern="user/address/(\w+).aspx" querystring="action=$1" />
    <item path="user/address/{0}-{1}.aspx" pattern="user/address/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.userorder" templet="userorder.cshtml">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.userorder_show" templet="userorder_show.cshtml">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="goods" type="index" page="goods.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article" templet="goods.cshtml" channel="goods">
    <item path="goods.aspx" pattern="goods.aspx" />
  </rewrite>
  <rewrite name="goods_list" type="list" page="goods_list.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_list" templet="goods_list.cshtml" channel="goods" pagesize="20">
    <item path="goods/{0}.aspx" pattern="goods/(\d+).aspx" querystring="category_id=$1" />
    <item path="goods/{0}/{1}.aspx" pattern="goods/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="gsearch" type="list" page="gsearch.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_list" templet="gsearch.cshtml" channel="goods" pagesize="20" />
  <rewrite name="goods_show" type="detail" page="goods_show.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_show" templet="goods_show.cshtml" channel="goods">
    <item path="goods/show-{0}.aspx" pattern="goods/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="video" type="index" page="video.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article" templet="video.cshtml" channel="video">
    <item path="video.aspx" pattern="video.aspx" />
  </rewrite>
  <rewrite name="video_list" type="list" page="video_list.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_list" templet="video_list.cshtml" channel="video" pagesize="20">
    <item path="video/{0}.aspx" pattern="video/(\d+).aspx" querystring="category_id=$1" />
    <item path="video/{0}/{1}.aspx" pattern="video/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="video_show" type="detail" page="video_show.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_show" templet="video_show.cshtml" channel="video">
    <item path="video/show-{0}.aspx" pattern="video/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="photo" type="index" page="photo.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article" templet="photo.cshtml" channel="photo">
    <item path="photo.aspx" pattern="photo.aspx" />
  </rewrite>
  <rewrite name="photo_list" type="list" page="photo_list.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_list" templet="photo_list.cshtml" channel="photo" pagesize="20">
    <item path="photo/{0}.aspx" pattern="photo/(\d+).aspx" querystring="category_id=$1" />
    <item path="photo/{0}/{1}.aspx" pattern="photo/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="photo_show" type="detail" page="photo_show.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_show" templet="photo_show.cshtml" channel="photo">
    <item path="photo/show-{0}.aspx" pattern="photo/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="down" type="index" page="down.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article" templet="down.cshtml" channel="down">
    <item path="down.aspx" pattern="down.aspx" />
  </rewrite>
  <rewrite name="down_list" type="list" page="down_list.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_list" templet="down_list.cshtml" channel="down" pagesize="20">
    <item path="down/{0}.aspx" pattern="down/(\d+).aspx" querystring="category_id=$1" />
    <item path="down/{0}/{1}.aspx" pattern="down/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="down_show" type="detail" page="down_show.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_show" templet="down_show.cshtml" channel="down">
    <item path="down/show-{0}.aspx" pattern="down/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="content" type="detail" page="content.cshtml" inherit="DTcms.Web.MVC.Areas.Web.Controllers.article_show" templet="content.cshtml" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="sitebackup" type="plugin" page="sitebackup.cshtml" inherit="" templet="sitebackup.cshtml">
    <item path="sitebackup.aspx" pattern="sitebackup.aspx" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.cshtml" inherit="" templet="feedback.cshtml">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.cshtml" inherit="" templet="link.cshtml">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="news" type="index" page="news.cshtml" inherit="DTcms.Web.UI.Page.article" templet="news.cshtml" channel="news">
    <item path="news.aspx" pattern="news.aspx" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.cshtml" inherit="DTcms.Web.UI.Page.article_list" templet="news_list.cshtml" channel="news" pagesize="12">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}-{1}.aspx" pattern="news/(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.cshtml" inherit="DTcms.Web.UI.Page.article_show" templet="news_show.cshtml" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
</urls>