<appSettings>
  <!--连接字符串是否加密-->
  <add key="ConStringEncrypt" value="false" />
  <!--连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false-->
  <!--<add key="ConnectionString" value="server=tcp:120.25.3.76,14330;database=KFDev;uid=sa;pwd=kfcloud!123%=-" />-->
  <add key="ConnectionString" value="server=tcp:119.29.91.240,14330;database=KFDev;uid=sa;pwd=sa" />
  <!--是否已配置完毕-->
  <add key="CompleteConfig" value="true" />
  <add key="appid" value="crm.kinfar.net" />
  <add key="appsecret" value="www.kinfar.net" />
  <add key="weburl" value="http://localhost:1955" />
  <!--<add key="webapiurl" value="http://localhost:9007" />-->
  <add key="webapiurl" value="http://webapi.kinfar.net" />
  <!--<add key="ssourl" value="http://localhost:50039/Account/LogOn" />
  <add key="ssooffurl" value="http://localhost:50039/Account/LogOff" />-->
  <add key="ssourl" value="http://login.kinfar.net/Account/LogOn" />
  <add key="ssooffurl" value="http://login.kinfar.net/Account/LogOff" />
  <add key="tokenkey" value="accesstoken"/>
</appSettings>                                                                                                                                        