@using DTcms.Common;
@using DTcms.Model;
@{
   Layout = "~/Areas/admin/Views/Shared/_LayoutEdit.cshtml";
   ViewBag.Title = "Mail_Template";
   mail_template m = ViewData["model"] as mail_template;
   if (m == null){
      m = new DTcms.Model.mail_template();
   }
}

@section HeaderContent{
<script src="~/editor/ueditor.config.js"></script>
<script src="~/editor/ueditor.all.min.js"></script>
<script src="~/editor/lang/zh-cn/zh-cn.js"></script>
<script>
   $(function () {
      //初始化表单验证
      $("#form1").initValidform();
      //初始化编辑器
      var ue = UE.getEditor('txtContent', {
         serverUrl: '/tools/upload_ajax.ashx',
         toolbars: [[
             'fullscreen', 'source', '|', 'undo', 'redo', '|',
             'bold', 'italic', 'underline', 'strikethrough', 'removeformat', 'pasteplain', '|', 'forecolor', 'insertorderedlist', 'insertunorderedlist', '|',
             'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
             'link', 'unlink', 'anchor', '|',
             'simpleupload', 'insertimage', 'scrawl', 'insertvideo', 'music', 'attachment'
         ]]
      });
   });
</script>   
}
<form id="form1" method="post" action="SubmitSave?action=@ViewBag.Action&id=@ViewBag.Id">
<!--导航栏-->
<div class="location">
  <a href="../mail_template_list/index" class="back"><i class="iconfont icon-up"></i><span>返回列表页</span></a>
  <a href="../../center/index"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>会员设置</span>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>编辑邮件模板</span>
  <div class="clipboard">
     <span><label id="clipMess"></label></span>
     <a href="javascript:;" class="copy" onclick="copy();"><i class="iconfont icon-copy"></i><span>复制</span></a>
     <a href="javascript:;" class="paste disable" onclick="paste();"><i class="iconfont icon-log"></i><span>粘贴</span></a>
  </div>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div id="floatHead" class="content-tab-wrap">
  <div class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a class="selected" href="javascript:;">编辑模板内容</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <dl>
    <dt>模板标题</dt>
    <dd>
      @Html.TextBox("txtTitle", m.title, new { @class="input normal", datatype="*1-100", sucmsg=" "})
      <span class="Validform_checktip">*标题名称，100字符内</span>
    </dd>
  </dl>
  <dl>
    <dt>调用别名</dt>
    <dd>
      @Html.TextBox("txtCallIndex", m.call_index, new { @class="input normal", datatype="s0-50", sucmsg=" "})
      <span class="Validform_checktip">程序调用的别名，50字符内</span>
    </dd>
  </dl>
  <dl>
    <dt>邮件标题</dt>
    <dd>
      @Html.TextBox("txtMailTitle", m.maill_title, new { @class="input normal", datatype="*1-100", sucmsg=" "})
      <span class="Validform_checktip">*邮件标题，100字符内</span>
    </dd>
  </dl>
  <dl>
    <dt>邮件内容</dt>
    <dd>
       @Html.TextArea("txtContent", m.content, new { @class="editor"})
    </dd>
  </dl>
</div>
<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-wrap">
    <input type="submit" id="btnSubmit" class="btn" value="提交保存" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
  </div>
</div>
<!--/工具栏-->

</form>
