@using System.Data;
@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
   string channel = ViewBag.Channel as string;
}
<section class="top-bar">
   <a class="bar-hd" href="@bc.linkurl("index")"><img class="img" src="~/templates/@ViewBag.TemplateSkin/mobile/images/logo.jpg"></a>
   <a class="bar-bd" href="@bc.linkurl("index")">@site.title</a>
   <a class="bar-ft" href="@bc.linkurl("usercenter","order")">我的订单</a>
</section>
