@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/mobile/Shared/_LayoutBase.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "合作网站登录 - " + site.name;
}
@section HeaderContent{
<script>
$(function(){
	tabs('#oauthTabs','click');
	//初始化表单1
	AjaxInitForm('#bindForm', '#btnSubmit1', 0, '#turl');
	//初始化表单2
	AjaxInitForm('#oauthForm', '#btnSubmit2', 0, '#turl');
});
</script>
}

<div class="main-box">
  <div class="section clearfix">
    <div class="main-tit">
      <h2>合作网站登录</h2>
    </div>
    <div id="oauthTabs" class="inner-box">
      <!--选项卡-->
      <div id="tabHead" class="tab-head">
        <ul>
          <li>
            <a class="selected" href="javascript:;">绑定已有的账号</a>
          </li>
          <li>
            <a href="javascript:;">创建新的账号</a>
          </li>
        </ul>
      </div>
      <!--/选项卡-->
      
      <!--选项内容-->
      <form name="bindForm" id="bindForm" url="@(config.webpath)tools/submit_ajax.ashx?action=user_oauth_bind">
      <div class="dl-list tab-content" style="display:block;">
        <dl>
          <dt>用户名：</dt>
          <dd><input name="txtUserName" type="text" class="input txt" datatype="*"  nullmsg="请输入用户名" sucmsg=" " /></dd>
        </dl>
        <dl>
          <dt>密　码：</dt>
          <dd><input name="txtPassword" type="password" class="input txt" datatype="*6-20"  nullmsg="请输入密码" sucmsg=" " /></dd>
        </dl>
        <dl>
          <dt></dt>
          <dd><input id="btnSubmit1" name="btnSubmit1" type="submit" class="btn" value="立即绑定" /></dd>
        </dl>
      </div>
      </form>
      
      <form name="oauthForm" id="oauthForm" url="@(config.webpath)tools/submit_ajax.ashx?action=user_oauth_register">
      <div class="dl-list tab-content">
        <dl>
          <dt>电子邮箱：</dt>
          <dd><input name="txtEmail" type="text" class="input txt" datatype="e"  nullmsg="请输入邮箱地址" sucmsg=" " /></dd>
        </dl>
        <dl>
          <dt>手机号码：</dt>
          <dd><input name="txtMobile" type="text" class="input txt" datatype="m"  nullmsg="请输入手机号码" sucmsg=" " /></dd>
        </dl>
        <dl>
          <dt>登录密码：</dt>
          <dd><input name="txtPassword" type="password" class="input txt" datatype="*6-20"  nullmsg="请设置密码" sucmsg=" " /></dd>
        </dl>
        <dl>
          <dt></dt>
          <dd><input id="btnSubmit2" name="btnSubmit1" type="submit" class="btn" value="创建新账户" /></dd>
        </dl>
      </div>
      </form>
      <!--/选项内容-->
      <input id="turl" name="turl" type="hidden" value="@ViewBag.turl" />
    </div>
    
  </div>
</div>