<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- appSettings网站信息配置-->
    <add key="Configpath" value="~/xmlconfig/sys.config" />
    <add key="Urlspath" value="~/xmlconfig/urls.config" />
    <add key="Userpath" value="~/xmlconfig/user.config" />
    <add key="Orderpath" value="~/xmlconfig/order.config" />
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=.;uid=sa;pwd=123;database=DTcmsdb5;" />-->
    <!-- ud77.com -->
    <add name="ConnectionString" connectionString="server=tcp:119.29.91.240,50362;uid=sa;pwd=sa;database=DTCMS网站演示;Connection Lifetime=30" />
    <!-- jtdygs.com -->
    <!--<add name="ConnectionString" connectionString="server=qds109667392.my3w.com;uid=qds109667392;pwd=eagle103;database=qds109667392_db;Connection Lifetime=30" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpModules>
      <add type="DTcms.Web.MVC.UI.HttpModule, DTcms.Web.MVC.UI" name="HttpModule" />
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- 文件上传大小KB-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="512000" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DTcms.Web.MVC.UI.HttpModule, DTcms.Web.MVC.UI" name="HttpModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>