<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{site.seo_title}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link href="{config.webpath}templates/www/css/main.css" rel="stylesheet" type="text/css" >
</head>
<body>
<!--Header-->
<%template src="_header.html"%>
<!--/Header-->
<div style="height:20px"></div>
<div style="margin:0 auto;width:900px;">
<h2>君飞工作室</h2>
<p>&nbsp; &nbsp;&nbsp; &nbsp;</p>
<p style="line-height:40px;">&nbsp; &nbsp;&nbsp; &nbsp;隶属深圳市天尊软件有限公司研发中心，主要负责互联网项目开发设计</p>

<p>&nbsp; &nbsp;&nbsp; &nbsp;</p><p>&nbsp; &nbsp;&nbsp; &nbsp;</p>
<img style="margin:0 auto;" src="/upload/201603/18/201603181744019666.gif"/>
<p>&nbsp; &nbsp;</p><p>&nbsp; &nbsp;</p>

<p style="line-height:40px">&nbsp; &nbsp;&nbsp; &nbsp;深圳市天尊软件有限公司，是国内知名的企业管理信息化系统供应商，自成立以来以“致力行业管理，为顾客创造价值”为己任，专注于制造行业、贸易行业和地产行业的企业管理信息化研发和技术服务, 帮助企业利用信息化从根本上解决管理难题。 
    公司现有十数名专业企业管理顾问，在各行业上积累了500家企业的实践经验和知识技巧，覆盖了研发、咨询/实施、销售、市场、管理、 财务等多个领域。</p>
<p style="line-height:40px">&nbsp; &nbsp;&nbsp; &nbsp; 公司目前主要产品有：T10系列制造业ERP系统、T10五金业ERP系统、T10注塑业ERP系统、T9系列商贸ERP系统、标准财务系统、售楼管理系统、云管理系统、手机APP。</p>

<p>&nbsp; &nbsp;&nbsp; &nbsp;</p><p>&nbsp; &nbsp;&nbsp; &nbsp;</p>
<img style="margin:0 auto;" src="/upload/201603/18/201603181756531229.jpg"/>
<p>&nbsp; &nbsp;</p><p>&nbsp; &nbsp;</p>

<p style="line-height:40px"> &nbsp; &nbsp;&nbsp; &nbsp;服务体系及服务团队的培养一直是天尊软件的重要建设项目，经过长期的市场实践，有着丰富的上线经验，目前已拥有一套完善的实施服务体系，为用户提供本地化、个性化的增值服务，帮助企业最大化的创造价值。</p>

<p>&nbsp; &nbsp;&nbsp; &nbsp;</p><p>&nbsp; &nbsp;&nbsp; &nbsp;</p>
<img style="margin:0 auto;" src="/upload/201603/18/201603181759009979.jpg"/>
<p>&nbsp; &nbsp;</p><p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; &nbsp;</p>
</div>
<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
</body>
</html>