<?xml version="1.0" encoding="utf-8"?>
<!--
    注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来
    配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在    machine.config.comments 中，
   该文件通常位于
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
		<add key="AccountStorageImpl" value="Kinfar.Frame.IMCore Kinfar.Frame.IMCore.SqlServerAccountStorage"/>
		<add key="MessageStorageImpl" value="Kinfar.Frame.IMCore Kinfar.Frame.IMCore.SqlServerMessageStorage"/>
		<add key="FileRoot" value="Files"/>
		<add key="ResPath" value="CurrentVersion"/>
		<add key="DefaultPage" value="/IM/Default.aspx"/>
	</appSettings>
	<connectionStrings>
		<add name="IM_ConnectString" connectionString="Data Source=.;Initial Catalog=WebIM;Persist Security Info=True;User ID=sa;Password=123456"/>
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add path="response.aspx" verb="*" type="Kinfar.Frame.IMCore.ReceiveResponsesHandler"/>
			<add path="command.aspx" verb="*" type="Kinfar.Frame.IMCore.SendCommandHandler"/>
			<add path="download.aspx" verb="*" type="Kinfar.Frame.IMWeb.DownloadHandler"/>
			<add path="sendfile.aspx" verb="*" type="Kinfar.Frame.IMWeb.SendFileHandler"/>
			<add path="Config.js.aspx" verb="*" type="Kinfar.Frame.IMWeb.DownloadJsHandler"/>
			<add path="Embed.js.aspx" verb="*" type="Kinfar.Frame.IMWeb.DownloadJsHandler"/>
			<add path="headimg.aspx" verb="*" type="Kinfar.Frame.IMWeb.DownloadHandler"/>
		</httpHandlers>
	</system.web>
</configuration>
