<!-- 顶部导航开始 -->
<header id="header-nav">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
				<span class="g-bg icon-bar"></span> <span class="g-bg icon-bar"></span> <span class="g-bg icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://www.shouce.ren"><span class="g-bg glyphicon glyphicon-home margin-r-5" aria-hidden="true"></span>手册网</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/post/index" >博文阅读</a></li>
				<li><a href="/post/project" >优质项目</a></li>
				<li><a href="/api/index" >参考手册</a></li>
				<li><a href="/tool/index" >在线工具</a></li>
				<li><a href="/api/book" >在线图书</a></li>
				<li><a href="/code/index" >在线代码</a></li>
				<li><a href="/api/open" >开放平台</a></li>
				<li><a href="/post/soft" >工具软件</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="g-bg caret"></span></a>
					<ul class="dropdown-menu">
						<li role="presentation"><a href="/post/xiaohua" role="menuitem" tabindex="-1">轻松一刻</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span aria-hidden="true" class="g-bg glyphicon glyphicon-th-list margin-r-5"></span>导航<span class="g-bg caret"></span>
					</a>
					<ul class="dropdown-menu width-858 overflow-550">
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">手册大全 »</button>
								<a href="/api/css/css3/" class="btn btn-default btn-sm margin-t-2">CSS3.0中文手册<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/jquery/1.8/" class="btn btn-default btn-sm margin-t-2">jQuery 1.8 参考手册</a>
								<a href="/api/html/html4/index.htm" class="btn btn-default btn-sm margin-t-2">HTML4参考手册</a>
								<a href="/api/html/jichu/" class="btn btn-default btn-sm margin-t-2">HTML基础手册</a>
								<a href="/api/html/kuaisu/" class="btn btn-default btn-sm margin-t-2">HTML快速参考手册</a>
								<a href="/api/mysql/5/" class="btn btn-default btn-sm margin-t-2">MySQL5.1中文参考手册<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/javascript/main.html" class="btn btn-default btn-sm margin-t-2">JavaScript参考手册<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/delphi/6" class="btn btn-default btn-sm margin-t-2">Delphi6函数大全</a>
								<a href="/api/delphi/7" class="btn btn-default btn-sm margin-t-2">Delphi7参考手册</a>
								<a href="/api/sql/jichu" class="btn btn-default btn-sm margin-t-2">SQL基础教程<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/jquery/1.10/" class="btn btn-default btn-sm margin-t-2">jQuery 1.10 中文参考手册</a>
								<a href="/api/css/css2/" class="btn btn-default btn-sm margin-t-2">CSS2 参考手册</a>
								<a href="/api/asp" class="btn btn-default btn-sm margin-t-2">ASP参考手册</a>
								<a href="/api/c/index.htm" class="btn btn-default btn-sm margin-t-2">C/C++中文手册</a>
								<a href="/api/django/" class="btn btn-default btn-sm margin-t-2">django中文教程</a>
								<a href="/api/dos" class="btn btn-default btn-sm margin-t-2">DOS命令大全<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/easyui1.3" class="btn btn-default btn-sm margin-t-2">jQueryEasyUI1.3中文手册<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/hibernate3.2/index.htm" class="btn btn-default btn-sm margin-t-2">Hibernate3.2中文参考文档</a>
								<a href="/api/html/html4.01" class="btn btn-default btn-sm margin-t-2">Html4.01参考手册</a>
								<a href="/api/java/biji" class="btn btn-default btn-sm margin-t-2">JAVA学习笔记</a>
								<a href="/api/jsp" class="btn btn-default btn-sm margin-t-2">JSP中文教程</a>
								<a href="/api/linux" class="btn btn-default btn-sm margin-t-2">Linux参考手册</a>
								<a href="/api/lua/5/" class="btn btn-default btn-sm margin-t-2">Lua5参考手册</a>
								<a href="/api/oracle" class="btn btn-default btn-sm margin-t-2">Oracle参考手册<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/phpcmsv9/index.htm" class="btn btn-default btn-sm margin-t-2">Phpcmsv9二次开发手册</a>
								<a href="/api/phpwind" class="btn btn-default btn-sm margin-t-2">phpwind二次开发手册</a>
								<a href="/api/postgresql" class="btn btn-default btn-sm margin-t-2">PostgreSQL参考手册</a>
								<a href="/api/python2/index.htm" class="btn btn-default btn-sm margin-t-2">Python2中文手册</a>
								<a href="/api/spring2.5/index.htm" class="btn btn-default btn-sm margin-t-2">Spring2.5中文参考手册</a>
								<a href="/api/xml" class="btn btn-default btn-sm margin-t-2">XML参考手册</a>
								<a href="/api/zhengze" class="btn btn-default btn-sm margin-t-2">正则表达式参考手册</a>
								<a href="/api/jquery/1.11/" class="btn btn-default btn-sm margin-t-2">jQuery 1.11.3 中文参考手册<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/thinkphp3.2.2/" class="btn btn-default btn-sm margin-t-2">ThinkPHP3.2.2完全开发手册</a>
								<a href="/api/thinkphp3.2.3/" class="btn btn-default btn-sm margin-t-2">ThinkPHP3.2.3完全开发手册<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/api/yii/kaifa" class="btn btn-default btn-sm margin-t-2">yii1和php5开发<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">HTML/CSS »</button>
								<a href="/api/view/a/7" class="btn btn-default btn-sm margin-t-2">Html</a>
								<a href="/api/view/a/772" class="btn btn-default btn-sm margin-t-2">Bootstrap</a>
								<a href="/api/view/a/1404" class="btn btn-default btn-sm margin-t-2">HTML5</a>
								<a href="/api/view/a/1804" class="btn btn-default btn-sm margin-t-2">CSS</a>
								<a href="/api/view/a/2984" class="btn btn-default btn-sm margin-t-2">CSS3</a>
								<a href="/api/view/a/10648" class="btn btn-default btn-sm margin-t-2">Foundation</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">JavaScript »</button>
								<a href="/api/view/a/823" class="btn btn-default btn-sm margin-t-2">JavaScript</a>
								<a href="/api/view/a/1520" class="btn btn-default btn-sm margin-t-2">JQuery</a>
								<a href="/api/view/a/3049" class="btn btn-default btn-sm margin-t-2">HTML DOM</a>
								<a href="/api/view/a/3061" class="btn btn-default btn-sm margin-t-2">AngularJS</a>
								<a href="/api/view/a/3080" class="btn btn-default btn-sm margin-t-2">jQuery UI</a>
								<a href="/api/view/a/3332" class="btn btn-default btn-sm margin-t-2">jQuery EasyUI</a>
								<a href="/api/view/a/3460" class="btn btn-default btn-sm margin-t-2">Node.js</a>
								<a href="/api/view/a/3489" class="btn btn-default btn-sm margin-t-2">JSON</a>
								<a href="/api/view/a/3494" class="btn btn-default btn-sm margin-t-2">Highcharts</a>
								<a href="/api/view/a/3562" class="btn btn-default btn-sm margin-t-2">AJAX</a>
								<a href="/api/view/a/10638" class="btn btn-default btn-sm margin-t-2">React</a>
								<a href="/api/view/a/11139" class="btn btn-default btn-sm margin-t-2">jQuery插件大全</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">程序设计 »</button>
								<a href="/api/view/a/3572" class="btn btn-default btn-sm margin-t-2">PHP</a>
								<a href="/api/view/a/4331" class="btn btn-default btn-sm margin-t-2">Java</a>
								<a href="/api/view/a/4533" class="btn btn-default btn-sm margin-t-2">JSP</a>
								<a href="/api/view/a/4615" class="btn btn-default btn-sm margin-t-2">Python</a>
								<a href="/api/view/a/4772" class="btn btn-default btn-sm margin-t-2">Python3</a>
								<a href="/api/view/a/4822" class="btn btn-default btn-sm margin-t-2">Django</a>
								<a href="/api/view/a/4830" class="btn btn-default btn-sm margin-t-2">Linux</a>
								<a href="/api/view/a/5167" class="btn btn-default btn-sm margin-t-2">Ruby</a>
								<a href="/api/view/a/5211" class="btn btn-default btn-sm margin-t-2">C</a>
								<a href="/api/view/a/5429" class="btn btn-default btn-sm margin-t-2">C++</a>
								<a href="/api/view/a/5530" class="btn btn-default btn-sm margin-t-2">Servlet</a>
								<a href="/api/view/a/5552" class="btn btn-default btn-sm margin-t-2">Lua</a>
								<a href="/api/view/a/5581" class="btn btn-default btn-sm margin-t-2">Go</a>
								<a href="/api/view/a/5625" class="btn btn-default btn-sm margin-t-2">设计模式</a>
								<a href="/api/view/a/5659" class="btn btn-default btn-sm margin-t-2">正则表达式</a>
								<a href="/api/view/a/5665" class="btn btn-default btn-sm margin-t-2">ASP</a>
								<a href="/api/view/a/5844" class="btn btn-default btn-sm margin-t-2">AppML</a>
								<a href="/api/view/a/5920" class="btn btn-default btn-sm margin-t-2">VBScript</a>
								<a href="/api/view/a/8136" class="btn btn-default btn-sm margin-t-2">Scala</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">数据库 »</button>
								<a href="/api/view/a/6030" class="btn btn-default btn-sm margin-t-2">SQL</a>
								<a href="/api/view/a/6106" class="btn btn-default btn-sm margin-t-2">mysql</a>
								<a href="/api/view/a/6139" class="btn btn-default btn-sm margin-t-2">SQLite</a>
								<a href="/api/view/a/6190" class="btn btn-default btn-sm margin-t-2">MongoDB</a>
								<a href="/api/view/a/6229" class="btn btn-default btn-sm margin-t-2">Redis</a>
								<a href="/api/view/a/6411" class="btn btn-default btn-sm margin-t-2">Memcached</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">移动端 »</button>
								<a href="/api/view/a/6431" class="btn btn-default btn-sm margin-t-2">jQuery Mobile</a>
								<a href="/api/view/a/8121" class="btn btn-default btn-sm margin-t-2">Android</a>
								<a href="/api/view/a/6657" class="btn btn-default btn-sm margin-t-2">ionic</a>
								<a href="/api/view/a/8153" class="btn btn-default btn-sm margin-t-2">IOS</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">XML 教程 »</button>
								<a href="/api/view/a/6693" class="btn btn-default btn-sm margin-t-2">XML</a>
								<a href="/api/view/a/6721" class="btn btn-default btn-sm margin-t-2">DTD</a>
								<a href="/api/view/a/6729" class="btn btn-default btn-sm margin-t-2">XML DOM</a>
								<a href="/api/view/a/6905" class="btn btn-default btn-sm margin-t-2">XSLT</a>
								<a href="/api/view/a/6966" class="btn btn-default btn-sm margin-t-2">XPath</a>
								<a href="/api/view/a/6984" class="btn btn-default btn-sm margin-t-2">XQuery</a>
								<a href="/api/view/a/6993" class="btn btn-default btn-sm margin-t-2">XLink</a>
								<a href="/api/view/a/6998" class="btn btn-default btn-sm margin-t-2">XML Schema</a>
								<a href="/api/view/a/7051" class="btn btn-default btn-sm margin-t-2">XSLFO</a>
								<a href="/api/view/a/7120" class="btn btn-default btn-sm margin-t-2">SVG</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">ASP.NET »</button>
								<a href="/api/view/a/7140" class="btn btn-default btn-sm margin-t-2">ASP.NET</a>
								<a href="/api/view/a/7387" class="btn btn-default btn-sm margin-t-2">C#</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">开发工具 »</button>
								<a href="/api/view/a/7451" class="btn btn-default btn-sm margin-t-2">Eclipse</a>
								<a href="/api/view/a/7484" class="btn btn-default btn-sm margin-t-2">Git</a>
								<a href="/api/view/a/7494" class="btn btn-default btn-sm margin-t-2">Firebug</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">开源项目 »</button>
								<a href="/api/view/a/7505" class="btn btn-default btn-sm margin-t-2">Yii中文参考手册</a>
								<a href="/api/view/a/7792" class="btn btn-default btn-sm margin-t-2">Yii1开发教程</a>
								<a href="/api/view/a/7847" class="btn btn-default btn-sm margin-t-2">Yii2开发教程</a>
								<a href="/api/view/a/7940" class="btn btn-default btn-sm margin-t-2">ThinkPHP3.1开发教程</a>
								<a href="/api/view/a/8053" class="btn btn-default btn-sm margin-t-2">ThinkPHP3.2.3开发教程</a>
								<a href="/api/view/a/8128" class="btn btn-default btn-sm margin-t-2">地图开发</a>
								<a href="/api/view/a/8157" class="btn btn-default btn-sm margin-t-2">Wordpress</a>
								<a href="/api/view/a/11090" class="btn btn-default btn-sm margin-t-2">Laravel中文文档</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">视频教程 »</button>
								<a href="/post/index/tag/75382" class="btn btn-default btn-sm margin-t-2" title="Java视频">Java视频</a>
								<a href="/post/index/tag/75374" class="btn btn-default btn-sm margin-t-2" title="PHP视频">PHP视频</a>
								<a href="/post/index/tag/75375" class="btn btn-default btn-sm margin-t-2" title="微信视频">微信视频</a>
								<a href="/post/index/tag/75376" class="btn btn-default btn-sm margin-t-2" title="Android视频">Android视频</a>
								<a href="/post/index/tag/75384" class="btn btn-default btn-sm margin-t-2" title="WEB视频">WEB视频</a>
								<a href="/post/index/tag/75383" class="btn btn-default btn-sm margin-t-2" title="NET视频">NET视频</a>
								<a href="/post/index/tag/75379" class="btn btn-default btn-sm margin-t-2" title="Linux视频">Linux视频</a>
								<a href="/post/index/tag/75378" class="btn btn-default btn-sm margin-t-2" title="Wordpress视频">Wordpress视频</a>
								<a href="/post/index/tag/75381" class="btn btn-default btn-sm margin-t-2" title="网站视频">网站视频</a>
								<a href="/post/index/tag/75385" class="btn btn-default btn-sm margin-t-2" title="数据库视频">数据库视频</a>
								<a href="/post/index/tag/75387" class="btn btn-default btn-sm margin-t-2" title="开发视频">开发视频</a>
								<a href="/post/index/tag/75377" class="btn btn-default btn-sm margin-t-2" title="综合视频">综合视频</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">转码工具 »</button>
								<a href="/tool/html" class="btn btn-default btn-sm margin-t-2">HTML/JavaScript格式化</a>
								<a href="/tool/css" class="btn btn-default btn-sm margin-t-2">CSS 格式化/压缩</a>
								<a href="/tool/js" class="btn btn-default btn-sm margin-t-2">JS格式化/加密/压缩</a>
								<a href="/tool/encode" class="btn btn-default btn-sm margin-t-2">Native互换Unicode大全</a>
								<a href="/tool/date" class="btn btn-default btn-sm margin-t-2">日期格式化工具<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">代码处理 »</button>
								<a href="/tool/hexconvert" class="btn btn-default btn-sm margin-t-2">进制互换大全</a>
								<a href="/tool/rgb" class="btn btn-default btn-sm margin-t-2">16进制互换RGB</a>
								<a href="/tool/tofanti" class="btn btn-default btn-sm margin-t-2">简体转繁体</a>
								<a href="/tool/topinyin" class="btn btn-default btn-sm margin-t-2">汉字转拼音</a>
								<a href="/tool/todaxie" class="btn btn-default btn-sm margin-t-2">小写转大写</a>
								<a href="/tool/toxiaoxie" class="btn btn-default btn-sm margin-t-2">大写转小写</a>
								<a href="/tool/jiami" class="btn btn-default btn-sm margin-t-2">加密和解密</a>
								<a href="/tool/tojianti" class="btn btn-default btn-sm margin-t-2">繁体转简体</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">实用工具 »</button>
								<a href="/tool/tubiao" class="btn btn-default btn-sm margin-t-2">Bootstrap图标定制<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/tool/yanse" class="btn btn-default btn-sm margin-t-2">CSS 颜色选择器<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/tool/zishu" class="btn btn-default btn-sm margin-t-2">字数统计</a>
								<a href="/tool/regex" class="btn btn-default btn-sm margin-t-2">正则表达式测试<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/tool/htpasswd" class="btn btn-default btn-sm margin-t-2">htpasswd 生成器</a>
								<a href="/tool/shujuku" class="btn btn-default btn-sm margin-t-2">全世界数据库</a>
								<a href="/tool/ip" class="btn btn-default btn-sm margin-t-2">IP归属地查询</a>
								<a href="/tool/alipay" class="btn btn-default btn-sm margin-t-2">支付宝收款代码<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/tool/jisuanqi" class="btn btn-default btn-sm margin-t-2">实用计算器</a>
								<a href="/tool/qrcode" class="btn btn-default btn-sm margin-t-2">生成二维码<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/tool/ico" class="btn btn-default btn-sm margin-t-2">ICO图标制作</a>
								<a href="/example/show/s/6896" class="btn btn-default btn-sm margin-t-2">CSS3 气泡对话框</a>
								<a href="/post/view/id/108742" class="btn btn-default btn-sm margin-t-2">Webkit CSS3 参考手册</a>
								<a href="/post/view/id/108743" class="btn btn-default btn-sm margin-t-2">CSS &amp; JS Hack 大全</a>
								<a href="/post/view/id/108745" class="btn btn-default btn-sm margin-t-2">CSS3 背景渐变色生成器</a>
								<a href="/post/view/id/108746" class="btn btn-default btn-sm margin-t-2">CSS3 阴影边框生成器</a>
								<a href="/example/show/s/6869" class="btn btn-default btn-sm margin-t-2">CSS3 动画工具</a>
								<a href="/post/view/id/108750" class="btn btn-default btn-sm margin-t-2">支付宝二维码</a>
								<a href="/example/show/s/6897" class="btn btn-default btn-sm margin-t-2">Web 常用字体演示</a>
								<a href="/example/show/s/6898" class="btn btn-default btn-sm margin-t-2">CSS3 选择器演示</a>
								<a href="/example/show/s/6899" class="btn btn-default btn-sm margin-t-2">CSS 中文字体 Unicode 编码表</a>
								<a href="/example/show/s/6901" class="btn btn-default btn-sm margin-t-2">CSS3 GitHub Buttons</a>
								<a href="/example/show/s/6902" class="btn btn-default btn-sm margin-t-2">CSS Webkit 自定义滚动条样式</a>
								<a href="/demo/keywords" class="btn btn-default btn-sm margin-t-2">在线自动分词</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">便民工具 »</button>
								<a href="/tool/kuaidi" class="btn btn-default btn-sm margin-t-2">快递查询</a>
								<a href="/tool/anquanqi" class="btn btn-default btn-sm margin-t-2">安全期计算器</a>
								<a href="/post/meng" class="btn btn-default btn-sm margin-t-2">周公解梦<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">常用对照表 »</button>
								<a href="/post/show/id/1038" class="btn btn-default btn-sm margin-t-2">HTTP Content-type 详细对照表</a>
								<a href="/post/show/id/1039" class="btn btn-default btn-sm margin-t-2">HTML特殊转义字符对照表</a>
								<a href="/post/show/id/1040" class="btn btn-default btn-sm margin-t-2">ASCII对照表</a>
								<a href="/post/show/id/1041" class="btn btn-default btn-sm margin-t-2">HTTP状态码详解</a>
								<a href="/post/show/id/1042" class="btn btn-default btn-sm margin-t-2">运算符优先级</a>
								<a href="/post/show/id/1043" class="btn btn-default btn-sm margin-t-2">TCP/UDP常见端口参考</a>
							</div>
						</li>
						<li class="border-solid-b">
							<div class="padding-5">
								<button class="btn btn-success btn-sm margin-t-2 width-100">经典小游戏 »</button>
								<a href="/tool/xiangsuxiaoniao" class="btn btn-default btn-sm margin-t-2">像素小鸟<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/tool/kaixinxiaoxiaole" class="btn btn-default btn-sm margin-t-2">爱消除</a>
								<a href="/tool/feidegenggao" class="btn btn-default btn-sm margin-t-2">飞更高</a>
								<a href="/tool/fangkuai" class="btn btn-default btn-sm margin-t-2">俄罗斯方块</a>
								<a href="/tool/taiqiu" class="btn btn-default btn-sm margin-t-2">台球</a>
								<a href="/tool/tanchishe" class="btn btn-default btn-sm margin-t-2">贪吃蛇<span class="margin-l-2 g-bg glyphicon glyphicon-fire" aria-hidden="true"></span></a>
								<a href="/tool/mofang" class="btn btn-default btn-sm margin-t-2">拼图魔方</a>
								<a href="/tool/tanke" class="btn btn-default btn-sm margin-t-2">坦克大战</a>
								<a href="/tool/gongzhu" class="btn btn-default btn-sm margin-t-2">解救公主</a>
								<a href="/tool/xiangqi" class="btn btn-default btn-sm margin-t-2">中国象棋</a>
								<a href="/tool/yabianxiaoniao" class="btn btn-default btn-sm margin-t-2">压扁小鸟</a>
								<a href="/tool/dafeizi" class="btn btn-default btn-sm margin-t-2">打飞字</a>
								<a href="/tool/flappy" class="btn btn-default btn-sm margin-t-2">Flappy小鸟</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="dropdown margin-r-10">
					<a href="/main/login">
						<span class="g-bg glyphicon glyphicon-user margin-r-2" aria-hidden="true"></span>会员
					</a>
				</li>
			</ul>
			<form class="navbar-form navbar-right visible-lg" role="search" method="get" action="/index.php">
				<input type="hidden" value="/main/search" name="r" id="h_search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="www.shouce.ren" name="keyword">
				</div>
				<button type="submit" class="btn btn-success">
					<span aria-hidden="true" class="glyphicon glyphicon-search margin-r-2"></span>
				</button>
			</form>
		</div>
	</nav>
</header><!-- 顶部导航结束 -->