@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
}
<div id="footer">
   <div class="linksWrapper">
      <div class="linkContainer linkContainerFirst">
         <div class="header">
            <a class="link" href="/cn/zh/campaigns/2017_newandbetter/catalog.html">2017宜家《家居指南》</a>
         </div>
         <a class="link" href="http://onlinecatalogueasia.ikea.com/cn/zh_CN/IKEA_Catalogue/">在线阅读</a>
      </div>
      <div class="linkContainer">
         <div class="header"><a href="/ms/zh_CN/customer_service/splash.html">客户服务</a></div>
         <a href="/ms/zh_CN/customer_service/guide_to_ikea/index.html">宜家购物攻略</a>
         <a href="http://www.ikea.com/ms/zh_CN/ikny_splash.html">宜家商场</a>
         <a href="/ms/zh_CN/customer_service/ikea_services/ikea_services.html">宜家服务</a>
         <a href="/ms/zh_CN/customer_service/contact_us/contact.html">联系我们</a>
         <a href="/ms/zh_CN/customer_service/splash.html">更多服务</a>
      </div>
      <div class="linkContainer">
         <div class="header"><a href="/ms/zh_CN/this-is-ikea/index.html">这就是宜家</a></div>
         <a href="/ms/zh_CN/this-is-ikea/the-ikea-concept/index.html">宜家理念</a>
         <a href="/ms/zh_CN/this-is-ikea/democratic-design/index.html">民主设计</a>
         <a href="/ms/zh_CN/this-is-ikea/about-the-ikea-group/index.html">关于宜家集团</a>
         <a href="/ms/zh_CN/this-is-ikea/people-and-planet/index.html">人类与地球</a>
         <a href="http://www.IKEAfoundation.org">IKEA Foundation</a>
      </div>
      <div class="linkContainer">
         <div class="header"><a href="/ms/zh_CN/this-is-ikea/working-at-the-ikea-group/index.html">工作在宜家</a></div>
         <a href="/ms/zh_CN/about-the-ikea-group/available-jobs/">现在就申请</a></div>
      <div class="linkContainer">
         <div class="header"><a href="/ms/zh_CN/about_ikea/newsroom/press_contacts/index.html">新闻联络</a></div>
      </div>
      <div class="linkContainer lastLinkContainer">
         <div class="header"><a href="/cn/zh/about_ikea/newsroom">新闻室</a></div>
      </div>
      <div class="clearAll"></div>
      <!-- IKEA00671879 -->
   </div>


   <div class="copyRight" id="txtCopyFooter">
      © Inter IKEA Systems B.V. 1999 - 2016
                        <span class="linkDivider">|</span>
      <a href="/ms/zh_CN/privacy_policy/privacy_policy.html">隐私政策</a>
      <span class="linkDivider">|</span>
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402001069">沪公网安备 31010402001069号</a>
      <span class="linkDivider">|</span>
      <a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020160822152212000001162100-SAIC_SHOW_310000-20160812190229669402&amp;signData=MEYCIQCHZS5GhByrGnWQm7lnffHRvNPpyLSkEY+n/IY8AG0JLAIhAPDgDC9cuRqVrtqtvWav+UzwcnpYMkOudGeASqGZUPQT"><img src="~/templates/household/web/images/lz5.png" height="18" width="18">电子营业快照</a>
      <span class="linkDivider">|</span>
      <a href="http://www.miibeian.gov.cn/" rel="blank">沪ICP备 09045065号</a>
   </div>
</div>
