<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>KfCenter</directory>
  <name>KF数据中心</name>
  <author>Kingfly</author>
  <version>V5.0</version>
  <description>只适合V5.0MVC版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[

      ]]></sql>
  </install>
  <uninstall>
    <sql>
    </sql>
  </uninstall>
  <urls>
    <rewrite name="kfcenter" type="plugin" page="kfcenter.cshtml" inherit="" templet="kfcenter.cshtml">
      <item path="kfcenter.aspx" pattern="kfcenter.aspx" />
      <item path="kfcenter/{0}.aspx" pattern="kfcenter/(\w+).aspx" querystring="page=$1" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_kfcenter" title="数据中心" url="kfcenter_list/index" action="Show,View,Delete,Audit,Reply" />
  </menu>
</plugin>