@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController c = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
}
<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>提示信息</title>
   <link href="~/templates/@site.templet_path/jqmobi/css/icons.css" rel="stylesheet" />
   <link href="~/templates/@site.templet_path/jqmobi/css/af.ui.base.css" rel="stylesheet" />
   <link href="~/templates/@site.templet_path/css/style.css" rel="stylesheet" />
   <!--jqMobi主JS-->
   <script src="~/Scripts/jquery/jquery-1.11.2.min.js"></script>
   <script src="~/templates/@site.templet_path/jqmobi/appframework.min.js"></script>
   <script src="~/templates/@site.templet_path/jqmobi/ui/appframework.ui.js"></script>
   <!--jqMobi插件-->
   <script src="~/templates/@site.templet_path/jqmobi/plugins/jq.slidemenu.js"></script>
   <script src="~/templates/@site.templet_path/js/base.js"></script>
</head>

<body>
<div id="afui">
  <div id="content">

	<div id="mainPanel" class="panel" data-footer="none">
      <header>
        <a href="javascript:;" onclick="history.back(-1);" class="backButton">返回</a>
        <h1>错误提示</h1>
      </header>
      
      <div class="wrap-box">
        <h2>出错啦！</h2>
        <div class="tip">
          <span class="icon close"></span>
          <p>@ViewBag.Msg</p>
        </div>
      </div>
    
	</div>
      
  </div>
</div>
</body>
</html>