<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--配置数据库的ConnectionString-->
    <add name="SqlConnectionName" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=;Integrated Security=false;User ID=sa;Password=" />
    <add name="MySqlConnectionName" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=;Integrated Security=false;User ID=sa;Password=" />
    <add name="AccessConnectionName" providerName="Microsoft.Jet.OLEDB.4.0" connectionString="provider=Micosoft,jet,OleDb,4.0;Data Source=|DataDirectory|test.mdb" />
    <add name="SqlCEConnectionName" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|kinfar.sdf" />
  </connectionStrings>
  <appSettings>
    <!--配置数据库的Connection-->
    <add key="SqlConnectionName" value="SQLServer" />
    <add key="MySqlConnectionName" value="MySQL"/>
    <add key="AccessConnectionName" value="Access"/>
    <add key="SqlCEConnectionName" value="SqlCE"/>
    <!--配置数据库的DAL-->
    <add key="ConsoleDAL" value="Dapper.SQLServerDAL"/>
    <!--<add key="ConsoleDAL" value="Dapper.MySqlServerDAL"/>-->
    <!--<add key="ConsoleDAL" value="Dapper.AccessServerDAL"/>-->
  </appSettings>
</configuration>