<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>君飞工作室</webname>
  <weburl>http://www.kinfar.net</weburl>
  <webcompany>深圳市君飞工作室</webcompany>
  <webaddress>广东省龙岗区大运软件小镇</webaddress>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>admin@kinfar.net</webmail>
  <webcrod>粤ICP备15069295号</webcrod>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>2</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>1</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://xxx.xxx.xxx/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>25</emailport>
  <emailfrom>mail@kinfar.net</emailfrom>
  <emailusername>mail@kinfar.net</emailusername>
  <emailpassword>50C215BB3B599960</emailpassword>
  <emailnickname>君飞工作室</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileremote>0</fileremote>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>51200</attachsize>
  <videosize>102400</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <thumbnailmode>Cut</thumbnailmode>
  <watermarktype>1</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>君飞工作室</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>